<!DOCTYPE html>
<html lang="it">
<head>
    <%- include('../partials/head.ejs') %>
  <style>
    body{
      padding: 0px;
    }
  </style>
  <title>Moovy</title>
</head>
<body>
    <%- include('../partials/navbar.ejs') %>

    <div class="container-sm "  style="padding: 5%;">
       <br>      
       <h2>Info corsa</h2>  
       <br>
       
        <div class="card border-success  card-body text-lg-center" >
            <div class="row">
                <div class="col-3">
                   <h4>ID prenotazione</h4>       
                   <p><%= prenotazione.id_prenotazione %></p>          
                </div>
                <div class="col-3">
                        <h4>Tipo veicolo</h4>
                        <p><%= prenotazione.tipo_veicolo %></p>                             
                </div>
                <div class="col-3">
                    <h4>Stato Prenotazione</h4>
                        <p><%= prenotazione.stato_prenotazione%></p>     
                </div>
                <div class="col-3">
                    <h4>Prezzo totale</h4>
                        <p><%= prenotazione.importo_totale %></p>    
                </div>
            </div>
        </div>

                
    <br>
        <h2>Dati ritiro/rilascio</h2>  
        <br>
         <div class="card border-success  card-body text-lg-center" >
             <div class="row">
                 <div class="col-3">
                    <h4>Luogo ritiro</h4>       
                    <p><%= prenotazione.luogo_ritiro %></p>          
                 </div>
                 <div class="col-3">
                         <h4>Luogo riconsegna</h4>
                         <p><%= prenotazione.luogo_riconsegna%></p>                             
                 </div>
                 <div class="col-3">
                     <h4>Data ritiro</h4>
                         <p><%= prenotazione.data_ritiro %></p>     
                 </div>
                 <div class="col-3">
                     <h4>Data riconsegna</h4>
                         <p><%= prenotazione.data_riconsegna %></p>    
                 </div>
             </div> 
             <hr>
             <div class="row">
                <div class="col-3">
                    <h4>Riferimento autista</h4>
                        <p><%= prenotazione.ref_autista %></p>    
                </div>
                 <div class="col-3">
                     <h4>ID Veicolo</h4>
                         <p><%= prenotazione.ref_veicolo %></p>     
                 </div>
                 <div class="col-3">
                    <h4>Mancia</h4>       
                    <p><%= prenotazione.mancia %></p>          
                 </div>
                 <div class="col-3">
                     <h4>Stato autista</h4>
                         <p><%= prenotazione.stato_autista %></p>    
                 </div>
             </div>  
            </div>
             <hr>
             <div class="d-grid gap-2">
                <button class="btn btn-lg btn-danger align-self-md-center" type="button">Rifiuta</button>
                <button class="btn btn-lg btn-success align-self-md-center" type="button">Accetta</button>
            </div> 
        
        </div>
     <br>
<!--footer-->   
<%- include('../partials/footer.ejs') %>
</body>
</html>