<!DOCTYPE html>
<html lang="it">
  <head>
    <%- include('../partials/head.ejs') %>

    <title>Moovy</title>

  </head>

  <body>
    <%- include('../partials/navbarAmm.ejs') %>
<!--Navbar-->
    <!---MANCA MOSTRA CONFERMA ELIMINAZIONE-->

    <div class="container mx-auto" style="height: 512px;" >
        <br>

      <% if(!accounts || accounts.length == 0) {  %>  

        <div class="text-center" style="height: 400px;"><h2><br><br><br><br><br>Nessun account corrisponde ai filtri selezionati</h1></div>

      <% }  else { %>

        <div class="container">
            <h2>Accounts</h2>
            <p>Ecco la lista di tutti gli Accounts</p>
            
              <table class="table table-bordered table-bordered-success table-hover">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Cognome</th>
                      <th>Nome</th>
                      <th>Ruolo</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    <% accounts.forEach( (account)=>{ %>
                    <tr>
                      <td><a  data-confirm =" Vuoi eliminare questo account?" id="delete" href="/utente/amministratore/AreaPersonaleAmministratore/datiAccounts/<%=account.id_account %>/eliminaAccount" ><%= account.id_account %></a></td>
                      <td><%= account.cognome %></td>
                      <td><%= account.nome %></td>
                      <td><%= account.ruolo %></td>
                    </tr>
                    <% }) %>
                  </tbody>
                </table>
      <% } %>   
          
    </div>
<!--footer-->   
<footer class="text-center text-lg-start bg-light text-muted">
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        <p class="">Contattaci: Tel + 01 234 567 88</p>
      © 2021 Copyright AMIL
    </div>
  </footer>


<script>
  var deleteLinks = document.querySelectorAll('#delete');
        
        deleteLinks[0].addEventListener('click', function(event) {
            event.preventDefault();
      
            var choice = confirm(this.getAttribute('data-confirm'));
      
            if (choice) {
              location.href = this.getAttribute('href');
            }
        });
</script>

</body>
</html>
