<!DOCTYPE html>
<html lang="it">
  <head>
    <%- include('../partials/head.ejs') %>
    <title>Moovy</title>
  </head>

  <body>
    <%- include('../partials/navbarAmm.ejs') %>
    <!--Navbar-->

    <div class="container mx-auto" style="height: 512px;" >
        <br>
        <div class="container">
            <h2>Gli Impiegati</h2>
            <p>Ecco la lista di tutti gli Impiegati</p>
            
              <table class="table table-bordered table-bordered-success table-hover">
                  <thead>
                    <tr>
                      <th>ID Account</th>
                      <th>Ruolo</th>
                      <th>Nome</th>
                      <th>Cognome</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% impiegati.forEach( (impiegato)=>{ %>
                    <tr>
                      <td><a href="/utente/amministratore/AreaPersonaleAmministratore/datiImpiegati/<%=impiegato.id_account %>/modificaDatiImpiegati"><%= impiegato.id_account %></a></td>
                      <td><%= impiegato.ruolo %></td>
                      <td><%= impiegato.nome %></td>
                      <td><%= impiegato.cognome %></td>
                    </tr>
                    <% }) %>
                  </tbody>
                </table>
              </a>         
          
    </div>
<!--footer-->   
<%- include('../partials/footer.ejs') %>
</body>
</html>
