<!DOCTYPE html>
<html lang="it">
    <head>
        <%- include('../partials/head.ejs') %>
        <title>Moovy</title>
      </head>
      <body>
        <%- include('../partials/navbarAmm.ejs') %>
        <!--Navbar-->
<form action="/utente/amministratore/AreaPersonaleAmministratore/prenotazioniAttive/<%= prenotazione[0].id_prenotazione%>/modificaPrenotazione" method="POST" >
    <div class="container card-bordered card-bordered-success my-5 text-center " style="max-width: 580px;">

    <legend style="text-align: center; font-size:150%">Prenotazione</legend>
    <div class="container my-5 text-left" style="max-width: 580px;">
    <div class="mb-3">
        <label for="luogo_ritiro" class="form-label" >Luogo di ritiro</label>
        <input type="text" class="form-control form-control-md" id="luogo_ritiro" value="<%= prenotazione[0].luogo_ritiro %>" placeholder="Luogo di ritiro"  readonly>
    </div>
    <div class="mb-3">
        <label for="luogo_riconsegna" class="form-label">Luogo di riconsegna</label>
        <input type="text" class="form-control form-control-md" id="luogo_riconsegna" name="luogo_riconsegna" value="<%= prenotazione[0].luogo_riconsegna %>" placeholder="Luogo di riconsegna">
    </div>
<div class="row">
<div class="col-md-6 mb-4">
    <div class="mb-3">
        <div class="form-outline">
            <label class="form-label" for="data_ritiro">Data di ritiro</label>
            <input type="text" id="data_ritiro" value="<%= prenotazione[0].data_ritiro %>" class="form-control form-control-md" readonly/>
        </div> 
    </div>  
    
</div>
<div class="col-md-6 mb-4">
    <div class="mb-3">
        <div class="form-outline">
            <label class="form-label" for="data_riconsegna">Data di riconsegna</label>
            <input type="text" id="data_riconsegna" name="data_riconsegna" class="form-control form-control-md" value="<%= prenotazione[0].data_riconsegna %>"  />
        </div> 
    </div>  
    
</div>
</div>
    <div class="mb-3">
        <label for="tipo_veicolo" class="form-label">Tipo di Veicolo</label>
        <input type="text" class="form-control form-control-md" id="tipo_veicolo" value="<%= prenotazione[0].tipo_veicolo %>"  readonly>
    </div>
    <div class="mb-3">
        <label for="prezzoTotale" class="form-label">Id veicolo</label>
        <input type="text" class="form-control form-control-md" value="<%= prenotazione[0].ref_veicolo %>"  readonly>
    </div>
    <div class="mb-3">
        <label for="autista" class="form-label">Autista</label>
        <input type="text" class="form-control form-control-md" value="<%= prenotazione[0].ref_autista %>"  readonly>
    </div>
 <div class="mb-3">
        <label for="stato_prenotazione" class="form-label">Stato Prenotazione</label>
        <input type="text" class="form-control form-control-md" id="stato_prenotazione" value="<%= prenotazione[0].stato_prenotazione%>"  readonly>
    </div>
    <div class="mb-3">
        <label for="motivo_ritardo" class="form-label">Ritardi/Imprevisti da segnalare:</label>
        <input type="text" class="form-control form-control-md" id="motivo_ritardo" value="<%= prenotazione[0].motivo_ritardo %>" placeholder="Note" readonly>
    </div>
    <div class="mb-3">
        <label for="prezzo_finale" class="form-label">Prezzo Totale</label>
        <input type="text" class="form-control form-control-md" id="prezzo_finale" value="<%= prenotazione[0].prezzo_finale %>"  readonly>
    </div>

    <div class="container my-5 text-center">
        <button type="submit" id="conferma" class="btn btn-success"style="">Conferma</button>
    </div>
  </form>
     
<!--footer-->   
<%- include('../partials/footer.ejs') %>
</body>
</html>
