<!DOCTYPE html>
<html lang="it">
  <head>
    <%- include('../partials/head.ejs') %>
    <title>Moovy</title>
  </head>
  <body>
    <%- include('../partials/navbarAmm.ejs') %>
    <!--Navbar-->

    <div class="container mx-auto" style="height: 512px;" >
        <br>
        <div class="container ">
            <h2>Prenotazioni Attive</h2>
            <p>Ecco la lista di tutte le prenotazioni attive</p>            
            <table class="table table-bordered table-bordered-success table-hover">
              <thead>
                <tr>
                  <th>ID Prenotazione</th>
                  <th>Nome Cliente</th>
                  <th>Data di ritiro </th>
                  <th>Stato</th>
                </tr>
              </thead>
              <tbody>
                <% prenotazioni.forEach( (prenotazione)=>{ %>
                <tr>
                  <td><a href="/utente/amministratore/AreaPersonaleAmministratore/prenotazioniAttive/<%= prenotazione.id_prenotazione %>"><%= prenotazione.id_prenotazione %></a></td>
                  <td><%= prenotazione.nome %></td>
                  <td><%= prenotazione.data_ritiro %></td>
                  <td><%= prenotazione.stato_prenotazione %></td>
                </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
          
          
    </div>
<!--footer-->   
<%- include('../partials/footer.ejs') %>
</body>
</html>
