<!DOCTYPE html>
<html lang="it">
<head>
  <%- include('../partials/head.ejs') %>
  <style>
    body{
      padding: 0px;
    }
  </style>
  <title>Moovy</title>
</head>
<body>
  <%- include('../partials/navbarAmm.ejs') %>
    <div class="container"  style="padding: 5%;">
       <br>      
       <h2>Rimborso cliente</h2>  
       <br>
        <div class="card border-success  card-body text-lg-center" >
          <form action="/utente/amministratore/AreaPersonaleAmministratore/rimborso/<%= idp %>/effettuaRimborso/effettuato" method="POST">
                 <div class="col-6"  >  
                    <div class="form-outline ">
                        <label class="form-label ">Inserisci importo rimborso</label>
                        <div class="form-group">
                          <div class=" mb-3 my-3" style="max-width: 580px;">
                            <input type="number" id="rimborso" name="rimborso" class="form-control form-control-md" placeholder="rimborso">
                        </div>
                        </div>
                      </div> 
                                         
  
                  </div>
                  <% if(!carte||carte.length == 0) {  %>  
    
                    <div class="text-center" style="height: 400px;"><h2><br><br><br><br><br>Non ci sono state prenotazioni nell'ultimo mese</h1></div>
                  
                  <% }  else { %>
                  
                    <div class="container">
                    

                                  <div class="col-6 ">
                                    <div class="form-outline">
                                        <label class="form-label ">Inserisci metodo pagamento</label>
                                        <div class="input-group mb-3">
                                            <select class="custom-select" id="scelta_carta" name="scelta_carta">
                                            
                                              <option selected>Seleziona carta</option>
                                              <% carte.forEach( (carta)=>{ %>
                                              <% ultime_cifre = carta.numero_carta.slice(-4); %>
                                              
                                              <option value="<%= carta.numero_carta%>">Carta che termina con ****<%= ultime_cifre %></option>  
                                              <% }) %>              
                                            </select>
                                          </div>
                                        </div>                  
                                  </div>             
                            
                                </div>
                                
                             
                            </div>
                  <% } %>  
                <br>  
                <div class="d-flex justify-content-center">
                  <button type="submit" class="btn btn-lg  btn-success  align-content-lg-center" 
                  id="submit">Conferma</button>
                </div> 
                          
                </div> 
                
  
              </form>   
                     
           
        </div>
    
    </div>
     

    <%- include('../partials/footer.ejs') %>
</body>
</html>

