<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head.ejs') %>
    <title>Info Veicolo</title>
    
</head>
<body>
    <%- include('../partials/navbar.ejs') %>

    <div class="container" style="min-height: 450px;">
        <div class="row pt-5">
            <div class="col-md">
                <img src="<%= veicolo[0].immagine %>" class="img-fluid float-left" width="500px"> 
            </div>
            <div class="col-md p-3">
                <form action="/TipoVeicoli/FormA/RisultatiRicerca/<%= veicolo[0].id_veicolo %>/InfoVeicolo/Riepilogo" method="GET">
                    <p style="display: none;" id="id_v"><%= veicolo[0].id_veicolo %></p>
                    <h3 id="nome_veicolo"><%= veicolo[0].nome_veicolo %></h3>
                    <br>
                    <% let descr = veicolo[0].descrizione.split('-'); %>
                    <% for(row in descr){ %>
                        <h5><%= descr[row] %><br></h5>
                    <% } %>
                    <h5 style="display: none;" id="patente_richiesta"><%= veicolo[0].patente_richiesta %></h5>
                    <h4 id="tariffa" align="right">Prezzo orario: <%= veicolo[0].tariffa %> €</h4>
                    <br>
                    <p align="right">
                        <button type="submit" class="btn btn-success">Prenota ></button>
                    </p>
                    
                </form>
                
            
            </div>
        </div> 
    </div>
    
    <%- include('../partials/footer.ejs') %>
    
    <script>
        sessionStorage.setItem('ref_veicolo', document.getElementById('id_v').innerHTML);
        sessionStorage.setItem('nome_veicolo', document.getElementById('nome_veicolo').innerHTML);
        sessionStorage.setItem('patente_richiesta', document.getElementById('patente_richiesta').innerHTML);

        if(sessionStorage.autista == 'null' || sessionStorage.autista == undefined){
            tariffa = Number(document.getElementById('tariffa').innerHTML.split(' ')[2]);
            prezzo_stimato = calcolaPrezzo(sessionStorage.data_ritiro, sessionStorage.data_riconsegna, tariffa);
            sessionStorage.setItem('prezzo_stimato', prezzo_stimato);
        }

        function calcolaPrezzo(data_ritiro, data_riconsegna, tariffa){
            d1 = new Date(data_ritiro + ':00Z');
            d2 = new Date(data_riconsegna + ':00Z');
            durata_prenotazione = (d2 - d1)/(1000*60*60) //in ore
            console.log('d1: '+d1+'\nd2 :'+d2+'\ndurata_prenotazione :'+durata_prenotazione);
            return (Math.round(tariffa * durata_prenotazione * 100) / 100);
        }
            /*for(prop in veicolo){
                sessionStorage.setItem(prop, veicolo[prop]);
            };*/
    </script>
</body>
</html>
