<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head.ejs') %>
    <title>Info Veicolo</title>
    
</head>
<body>
    <%- include('../partials/navbar.ejs') %>

    <div class="container" style="min-height: 450px;">
        <div class="row pt-5">
            <div class="col-md">
                <img src="/images/C3.jpg" class="img-fluid float-left" width="500px"> 
            </div>
            <div class="col-md p-3">
                <form action="/TipoVeicoli/FormA/RisultatiRicerca/<%= veicolo[0].id_veicolo %>/InfoVeicolo/Riepilogo" method="GET">
                    <p id="id_v" style="display: none;"><%= veicolo[0].id_veicolo %></p>
                    <h4 id="nome_veicolo"><%= veicolo[0].nome_veicolo %></h4>
                    <p><%= veicolo[0].descrizione %></p>
                    <h4 align="right"><%= veicolo[0].tariffa %> € / ora</h4>
                    <br>
                    <p align="right">
                        <button type="submit" class="btn btn-success">Prenota ></button>
                    </p>
                    
                </form>
                
            
            </div>
        </div> 
    </div>
    
    <%- include('../partials/footer.ejs') %>
    
    <script>
        sessionStorage.setItem('ref_veicolo', document.getElementById('id_v').innerHTML);
        sessionStorage.setItem('nome_veicolo', document.getElementById('nome_veicolo').innerHTML);
            /*for(prop in veicolo){
                sessionStorage.setItem(prop, veicolo[prop]);
            };*/
    </script>
</body>
</html>
