<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel='stylesheet' type='text/css' media='screen' href='/stylesheets/RicercaVeicolo.css'>

    <title>Veicoli</title>
</head>
<body>
    <%- include('../partials/navbar.ejs') %>

    <!--tabella veicoli-->
    <div class="container-fluid p-3" >

        <%  if(!veicoli || veicoli.length==0) { %>

                <div class="text-center" style="height: 400px;"><h2><br><br><br><br><br>Nessun veicolo corrisponde ai filtri selezionati</h1></div>
         
        <%  } else { %>

                <table class="table table-hover">
                    <tbody>

                <% veicoli.forEach( (veicolo) => { %>

                        <tr>
                            <td><a href="/TipoVeicoli/FormA/RisultatiRicerca/<%= veicolo.id_veicolo %>/InfoVeicolo"><%= veicolo.nome_veicolo %></a></td>

                        <td><%= veicolo.tariffa %>€ / ora</td>
                        </tr> 
                    
                <% }) %>
                    </tbody>
                </table>                                    
        <% } %>
        
        <!--<ul class="row" style="list-style-type: none;">
            <li class="col-md pb-4 text-center">
                <img src="public/images/C3.jpg" alt="c3" class="img-thumbnail border-success" height="156px">
                <%/*%><%= veicolo.nome_veicolo %><%*/%> <br> <%/*%><%= veicolo.tariffa %><%*/%>
            </li>                                               
            <li class="col-md pb-4 text-center">
                <img src="public/images/Moto.jpg" class="img-thumbnail border-success" height="156px">
            </li>
            <li class="col-md pb-4 text-center">
                <img src="public/images/Bici.jpg" class="img-thumbnail border-success" height="156px">
            </li>
            <li class="col-md pb-4 text-center">
                <img src="public/images/Monopattino.jpg" class="img-thumbnail border-success" height="156px">
            </li>
            <li class="col-md pb-4 text-center">
                <img src="public/images/Monopattino.jpg" class="img-thumbnail border-success" height="156px">
            </li>
        </ul>-->
    </div>
    <br>
    <%- include('../partials/footer.ejs') %>

</body>
</html>