<!DOCTYPE html>
<html lang="it">
<head>
    <%- include('../partials/head.ejs') %>
    </style>
    <title>Moovy</title>
 </head>
<body>
    <%- include('../partials/navbarClie.ejs') %>

<form action="/utente/cliente/AreaPersonaleCliente/ElencoPrenotazioni/<%= prenotazione.id_prenotazione %>" method="POST">
        <div class="container my-5 text-center" style="max-width: 580px;">

        <legend style="text-align: center; font-size:150%">Modifica Prenotazione</legend>
        <div class="container my-5 text-left" style="max-width: 580px;">
        <div class="mb-3">
            <label for="ritiro" class="form-label">Luogo di ritiro</label>
            <input type="text" class="form-control form-control-md"  id="luogo_ritiro" value="<%= prenotazione.luogo_ritiro %>"  disabled readonly>
        </div>
        <div class="mb-3">
            <label for="riconsegna" class="form-label">Luogo di riconsegna</label>
            <input type="text" class="form-control form-control-md"  id="luogo_riconsegna" name="luogo_riconsegna" value="<%= prenotazione.luogo_riconsegna %>" >
        </div>
<div class="row">
    <div class="col-md-6 mb-4">
        <div class="mb-3">
            <div class="form-outline">
                <label class="form-label" for="dataRilascio">Data di ritiro</label>
                <input type="text" id="data_ritiro" class="form-control form-control-md"  value="<%= prenotazione.data_ritiro %>" disabled readonly >
            </div> 
        </div>  
        
    </div>
    <div class="col-md-6 mb-4">
        <div class="mb-3">
           <div class="form-outline">
                <label class="form-label" for="dataRilascio">Data di riconsegna</label>
                <input type="text" id="data_riconsegna" name="data_riconsegna" class="form-control form-control-md"  value="<%= prenotazione.data_riconsegna %>"  >
           </div> 
        </div>  
        
    </div>
</div>
        <div class="mb-3">
            <label for="tipo" class="form-label">Tipo di Veicolo</label>
            <input type="text" class="form-control form-control-md"  id="tipo_veicolo" value="<%= prenotazione.tipo_veicolo %>" disabled readonly>
        </div>
        <div class="mb-3">
            <label class="form-label" for="dataRilascio">ID prenotazione</label>
            <input type="text" id="id_prenotazione" name="id_prenotazione" class="form-control form-control-md" value="<%= prenotazione.id_prenotazione %>" disabled readonly >
       </div> 
        <div class="mb-3">
            <label for="modello" class="form-label">Nome veicolo</label>
            <input type="text" class="form-control form-control-md" id="nome_veicolo" value="<%= veicolo.nome_veicolo %>" disabled readonly>
        </div>
        <div class="mb-3">
            <label for="autista" class="form-label">Autista</label>
            <input type="text" class="form-control form-control-md" id="ref_autista" value="<%= prenotazione.ref_autista %>"disabled readonly>
        </div>
        <div class="mb-3">
            <label for="prezzoTotale" class="form-label">Stato Prenotazione</label>
            <input type="text" class="form-control form-control-md" id="stato_prenotazione" value="<%= prenotazione.stato_prenotazione %>" disabled readonly>
        </div>
            
        <div class="mb-3">
            <label for="note" class="form-label">Ritardi/Imprevisti da segnalare:</label>
            <input type="text" class="form-control form-control-md" id="motivo_ritardo" value="<%= prenotazione.motivo_ritardo %>"disabled readonly>
        </div>
        <div class="mb-3">
            <label for="prezzoTotale" class="form-label">Prezzo Totale</label>
            <input type="text" class="form-control form-control-md" id="prezzo_finale" value="<%= prenotazione.prezzo_finale %>"disabled readonly>
        </div>
    
        <div class="container my-5 text-center">
            <button type="button" class="btn btn-success"style="">Indietro</button>
            <button type="submit" id ="conferma"  class="btn btn-success"style="">Conferma</button>
        </div>
      </form>
<!--footer-->   
<%- include('../partials/footer.ejs') %>
</body>
</html>


