<!DOCTYPE html>
<html lang="it">
<head>
    <%- include('../partials/head.ejs') %>
 </head>
<body>    
    <!--Navbar-->
    <%- include('../partials/navbarClie.ejs') %>

    <form action="/formModifica" method="POST">
        <div class="container my-5 text-center" style="max-width: 580px;">

        <legend style="text-align: center; font-size:150%">Modifica Dati</legend>
        <div class="container my-5 text-left" style="max-width: 580px;">
        <div class="mb-3">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" class="form-control form-control-md"  placeholder="Nome" id="nome" name="nome" value="<%= utente.nome %>">
        </div>
        <div class="mb-3">
            <label for="cognome" class="form-label">Cognome</label>
            <input type="text" class="form-control form-control-md"  placeholder="Cognome" id="cognome" name="cognome" value="<%= utente.cognome %>" >
        </div>
        <div class="mb-3">
            <label for="dataNascita" class="form-label">Data di nascita</label>
           <input class="form-control" type="text" name="dataNascita" id="dataNascita" value="<%= utente.data_di_nascita %>" aria-label="Disabled input example"  readonly>
        </div>
        <div class="mb-3">
            <label for="phoneNumber" class="form-label">Numero di cellulare</label>
            <input type="tel" id="phoneNumber" name="phoneNumber" value="" class="form-control form-control-md" placeholder="Numero di telefono" value="<%= utente.numero_di_telefono %>">
        </div>
        <div class="mb-3 my-4">
            <legend style="text-align:center; font-size:medium;">Metodo di pagamento</legend>
            <label for="cardNumber" class="form-label">Numero della carta</label>
            <input type="text" id="cardNumber" name="cardNumber" value="" class="form-control form-control-md" placeholder="Numero della carta" >
        </div>
        <div class="mb-3">
            <label for="nomeIntes" class="form-label">Nome dell'intestatario</label>
            <input type="text" id="nomeIntes" name="nomeIntes" value="" class="form-control form-control-md" placeholder="Nome dell'intestatario">
        </div>
        <div class="mb-3">
            <label for="cognomeIntes" class="form-label">Cognome dell'intestatario</label>
            <input type="text" id="cognomeIntes" name="cognomeIntes" value="" class="form-control form-control-md" placeholder="Cognome dell'instestatario">
        </div>
        <div class="mb-3">
            <label for="cvv" class="form-label">cvv</label>
            <input type="number" id="cvv" name="cvv" value="" class="form-control form-control-md" placeholder="cvv">
        </div>
        <div class="mb-3">
            <div class="form-outline">
                <label class="form-label" for="scadenzaCarta">Scadenza della carta</label>
                <input type="date" id="scadenzaCarta" name="scadenzaCarta" value="" class="form-control form-control-md">
            </div>     
        </div>    
        <div class="mb-3 my-3">
            <legend style="text-align:center; font-size:medium;">Patente</legend>
            <label for="codicePatente" class="form-label">Codice patente</label>
            <input type="name" id="codicePatente" name="codicePatente" value="" class="form-control form-control-md" placeholder="Codice patente">
        </div>
        <div class="mb-3">
            <div class="form-outline">
                <label class="form-label" for="dataRilascio">Data di rilascio patente</label>
                <input type="date" id="dataRilascio" name="dataRilascio" value="" class="form-control form-control-md"  />
            </div> 
        </div>  
        <div class="mb-3">
            <div class="form-outline">
                <label class="form-label" for="dataScadenza">Scadenza patente</label>
                <input type="date" id="dataScadenza" name="dataScadenza" value="" class="form-control form-control-md"  />
              </div> 
        </div>
        <div class="mb-3;  btn-group text-center" style="width:100%">
            <button class="btn dropdown-toggle  btn-success " style="width:100%" type="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">Tipi</button>                       
            <div class="dropdown-menu " >
            <a class="dropdown-item ">
            <div class="custom-control custom-checkbox ">
            <input type="checkbox" class="custom-control-input" id="AM">
            <label class="custom-control-label" for="AM">AM</label>
            </div>
            </a>
            <a class="dropdown-item" href="#">
            <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="A" >
            <label class="custom-control-label"for="A">A</label>
            </div>
            </a>
            <a class="dropdown-item" href="#">
            <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="A1">
            <label class="custom-control-label" for="A1">A1</label>
            </div>
            </a>
            <a class="dropdown-item" href="#">
            <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="A2">                
            <label class="custom-control-label" for="A2">A2</label>
            </div>
            </a>
            <a class="dropdown-item" href="#">
            <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="B" >
            <label class="custom-control-label" for="B">B</label>
            </div>
            </a>
            </div>
        </div>
        <div class="container my-5 text-center">
            <button type="Torna in dietro" class="btn btn-success"style="">Indietro</button>
            <button type="submit" class="btn btn-success"style="">Conferma</button>
        </div>
      </form>
<!--footer--> 
<%- include('../partials/footer.ejs') %>
</body>
</html>
