<!DOCTYPE html>
<html lang="it">
<head>
    <%- include('../partials/head.ejs') %>
</style>
<title>Moovy</title>
</head>
<body>
    <%- include('../partials/navbarClie.ejs') %>

    <div class="container-sm"  style="padding: 5%;">
       <br>      
       <h2>Info prenotazione</h2>  
       <br>
        <div class="card border-success  card-body text-lg-center"  id="prenotazione">
            <div class="row"  >
                <div class="col-3" >
                   <h4>ID prenotazione</h4>       
                   <p> <%= prenotazione.id_prenotazione %></p>        
                </div>
                <div class="col-3" >
                        <h4>Metodo di pagamento</h4>
                        <p> <%= prenotazione.ref_carta %></p>                             
                </div>
                <div class="col-3" >
                    <h4>Stato Prenotazione</h4>
                        <p> <%= prenotazione.stato_prenotazione %></p>     
                </div>
                <div class="col-3" >
                    <h4>Prezzo totale</h4>
                        <p> <%= prenotazione.prezzo_finale %></p>    
                </div>
            </div>
        </div>

                
    <br>
        <h2>Dati ritiro/rilascio</h2>  
        <br>
         <div class="card border-success  card-body text-lg-center">
             <div class="row" id="prenotazione"  >
                 <div class="col-3">
                    <h4>Luogo ritiro</h4>       
                    <p> <%= prenotazione.luogo_ritiro %></p>          
                 </div>
                 <div class="col-3">
                         <h4>Luogo riconsegna</h4>
                         <p> <%= prenotazione.luogo_riconsegna %></p>                             
                 </div>
                 <div class="col-3" id="prenotazione">
                     <h4>Data ritiro</h4>
                         <p> <%= prenotazione.data_ritiro %></p>     
                 </div>
                 <div class="col-3">
                     <h4>Data riconsegna</h4>
                         <p> <%= prenotazione.data_riconsegna %></p>    
                 </div>
             </div> 
             <hr>
             <div class="row"  >
                 <div class="col-3"  >
                         <h4>Tipo veicolo</h4>
                         <p> <%= prenotazione.tipo_veicolo %></p>                             
                 </div>
                 <div class="col-3">
                     <h4>ID Veicolo</h4>
                         <p> <%= prenotazione.ref_veicolo %></p>     
                 </div>
                 <div class="col-3">
                    <h4>Ritardi/Imprevisti</h4>       
                    <p> <%= prenotazione.motivo_ritardo %></p>          
                 </div>
                 <div class="col-3">
                     <h4>Stato autista</h4>
                         <p> <%= prenotazione.stato_autista %></p>    
                 </div>
             </div>  
            </div>                
                 
     </div>
     <br>
<!--footer-->   
<%- include('../partials/footer.ejs') %>
</body>
</html>