<!DOCTYPE html>
<html lang="it">
<head>
          <%- include('../partials/head.ejs') %>
          
</head>
<body>
          <%- include('../partials/navbarAdd.ejs') %>
      
    <!--Navbar-->

    <div class="container mx-auto" style="height: 512px;" >
        <br>

      <% if(!veicoli|| veicoli.length == 0) {  %>  

        <div class="text-center" style="height: 400px;"><h2><br><br><br><br><br>Nessun veicolo da ritirare!</h1></div>

      <% }  else { %>

        <div class="container">
            <h2>Veicoli Prenotati</h2>
            <p>Ecco la lista di tutti i veicoli prenotati</p>
            
              <table class="table table-bordered table-bordered-success table-hover">
                  <thead>
                    <tr>
                      <th>ID Veicolo</th>
                      <th>Tipo Veicolo</th>
                      <th>ID Prenotazione</th>                      
                    </tr>
                  </thead>
                  <tbody>
                    <% veicoli.forEach( (veicolo)=>{ %>
                    <tr>
                      <td><a href="/utente/addetto/veicoliPrenotati/<%= veicolo.id_prenotazione %>/InfoRitiro" ><%= veicolo.id_veicolo %></a></td>
                      <td><%= veicolo.tipo_veicolo %></td>
                      <td><%= veicolo.id_prenotazione %></td>
                    </tr>
                    <% }) %>
                  </tbody>
                </table>
      <% } %>   
          
    </div>
    </div>
<!--footer-->   
<%- include('../partials/footer.ejs') %>
</body>
</html>
